body {
    font-family: Arial, sans-serif;

}

main {
    padding-left: 50px;
    padding-right: 50px;

}
/*start of service section*/
.row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
  }

  .left-column {
    width: 70%;
    padding-right: 20px;
  }

  .right-column {
    width: 30%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .right-column img {
    max-width: 100%;
    height: 100px;
    width: 100px;
  }

  /* Responsive fallback */
  @media (max-width: 768px) {
    .row {
      flex-direction: column;
    }

    .left-column,
    .right-column {
      width: 100%;
      text-align: center;
    }
  }
  /*end of service section*/